<!DOCTYPE html>
<html lang="en" ng-app="MyCartApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/cart.js"></script>
    </head>

    <body ng-controller="MyCartCtrl as myCartCtrl">

        <h3>My Cart</h3>

        <form name="itemForm" ng-submit="myCartCtrl.addToCart()">
            <table>
                <tr>
                    <td>Item:</td>
                    <td>
                        <input type="text" name="item" id="item"
                                ng-model="myCartCtrl.item">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit">Add</button>
                    </td>
                </tr>
            </table>

        </form>

        <h3>Search of {{ myCartCtrl.item }}</h3>

        <div ng-repeat="i in myCartCtrl.items">
            <img ng-src="{{ i }}" alt="">
        </div>
        
    </body>
</html>